<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>05.案例.TodoList</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body>
    <div class="container">
        <h1>05.案例.TodoList</h1>
        <div id="app">
            <div class="input-group mb-3">
                <input type="text" class="form-control" v-model.trim="todo" placeholder="输入代办事项" ref="input" @keyup.13="addItem">
                <div class="input-group-append">
                    <button class="btn btn-success" @click="addItem">添加</button>
                </div>
            </div>
            <table class="table" ref="table">
                <thead>
                    <tr>
                        <th><input type="checkbox" v-model="checkAll" />全选</th>
                        <th>#</th>
                        <th>代办事项</th>
                        <th>添加时间</th>
                        <th>是否完成</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,idx) in list" :class="{'table-success':item.complete}" @click="select(item.id)">
                        <td><input type="checkbox" v-model="item.checked" /></td>
                        <td>{{idx+1}}</td>
                        <td>{{item.todo}}</td>
                        <!-- <td>{{formatDate(item.addtime,'YYYY/MM/DD hh:mm:ss')}}</td> -->
                        <td>{{item.addtime | formatDate('YYYY/MM/DD hh:mm:ss')}}</td>
                        <td>{{item.complete ? '是' : '否'}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-outline-success" @click.stop="completeItem(item.id,$event)">完成</button>
                            <button type="button" class="btn btn-sm btn-outline-danger" @click.stop="removeItem(item.id)">删除</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            待办事项：{{list.length}}，完成：{{completeList.length}}，未完成：{{unCompleteList.length}}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
    <script src="js/vue.js"></script>
    <script>
        // 定义全局过滤器
        Vue.filter('formatDate',function(value,fmt='YYYY-MM-DD'){
            // vaule: 待过滤的值
            let d = new Date(value);

            // 预订字符对应时间
            var o = {
                "M+": d.getMonth() + 1, //月份 12
                "D+": d.getDate(), //日 21
                "h+": d.getHours(), //小时 17
                "m+": d.getMinutes(), //分 3
                "s+": d.getSeconds(), //秒 20
                "q+": Math.floor((d.getMonth() + 3) / 3), //季度 
                "S": d.getMilliseconds() //毫秒 
            };

            // 替换年份
            if(/(Y+)/.test(fmt)){
                // 得到fmt字符串中Y字符对应的年份
                // YYYY => 2020
                // YY => 20
                // RegExp.$1 = 'YYYY'
                var res = String(d.getFullYear()).substr(4 - RegExp.$1.length);
                //YYYY : var res = '2020'.substr(4-'YYYY'.length) => 2020
                // YY:   var res = '2020'.sbstr(4-'YY'.length)    => 20

                // 替换年份
                fmt = fmt.replace(RegExp.$1,res);// YYYY/MM/DD->2020/MM/DD
            }

            // 替换月、日
            for(var key in o){
                // 利用key创建正则表达式
                var reg = new RegExp('(' + key + ')'); // new RegExp('(M+)') /(M+)/

                // fmt='2020/MM/DD'
                if(reg.test(fmt)){
                    // 得到匹配字符对应的时间
                    // var res= 'MM'.length>1 ? '0012'.substr('12'.length) : 12
                    var res = RegExp.$1.length>1 ? ('00' + o[key]).substr(String(o[key]).length) : o[key];


                    fmt = fmt.replace(RegExp.$1,res); // fmt='2020/MM/DD'->2020/12/DD
                }
            }
            return fmt;
        })
        const vm = new Vue({
            el: '#app',
            data: {
                todo:'',
                list: [{
                    id: 1,
                    todo: '定个小目标睡一整天',
                    complete: true,
                    checked:true,
                    addtime: Date.now()
                }, {
                    id: 2,
                    todo: '赚他一个亿津巴布韦币',
                    complete: false,
                    checked:false,
                    addtime: Date.now() + 3600
                }, {
                    id: 3,
                    todo: '迎娶白富美，达到人生巅峰',
                    complete: false,
                    checked:false,
                    addtime: Date.now() + 360 * 1000
                }],
                current:10,
                // checkAll:false
            },
            // 计算属性：本质为getter&setter
            // 在实例化是会自动写入实例的属性
            // computed属性只有在依赖的数据发生改变时才会从新计算，否则从缓存中获取，一般用于优化
            computed:{
                completeList(){console.log('computed',6666)
                    return this.list.filter(item=>item.complete)
                },
                unCompleteList:{
                    get(){
                        return this.list.filter(item=>!item.complete)
                    },
                    // set(){}
                },
                checkAll:{
                    get(){
                        return this.list.every(item=>item.checked)
                    },
                    set(newVal){
                        this.list = this.list.map(item=>{
                            item.checked = newVal;
                            return item;
                        })
                    }
                }
            },
            methods:{
                addItem(e){
                    let newData = {
                        id:parseInt(Math.random()*10000),
                        todo:this.todo,
                        complete:false,
                        addtime:Date.now()
                    }
                    this.list.unshift(newData);

                    // 清空并自动获得焦点
                    this.todo = '';
                    this.$refs.input.focus();
                },
                completeItem(id,e){console.log(id,e)
                    this.list = this.list.map(item=>{
                        if(item.id == id){
                            item.complete = true
                        }
                        return item;
                    })
                },
                removeItem(id){
                    this.list = this.list.filter(item=>item.id!=id)
                },
                select(id){
                    this.list = this.list.map(item=>{
                        if(item.id == id){
                            item.checked = !item.checked
                        }
                        return item;
                    })
                },
                formatDate(date,fmt="YYYY-MM-DD"){
                    let d = new Date(date);
                    // let year = d.getFullYear();
                    // let month = d.getMonth()+1
                    // let da = d.getDate();
                    // return  year+ '-' + month + '-' + da

                    // 预订字符对应时间
                    var o = {
                        "M+": d.getMonth() + 1, //月份 12
                        "D+": d.getDate(), //日 21
                        "h+": d.getHours(), //小时 17
                        "m+": d.getMinutes(), //分 3
                        "s+": d.getSeconds(), //秒 20
                        "q+": Math.floor((d.getMonth() + 3) / 3), //季度 
                        "S": d.getMilliseconds() //毫秒 
                    };

                    // 替换年份
                    if(/(Y+)/.test(fmt)){
                        // 得到fmt字符串中Y字符对应的年份
                        // YYYY => 2020
                        // YY => 20
                        // RegExp.$1 = 'YYYY'
                        var res = String(d.getFullYear()).substr(4 - RegExp.$1.length);
                        //YYYY : var res = '2020'.substr(4-'YYYY'.length) => 2020
                        // YY:   var res = '2020'.sbstr(4-'YY'.length)    => 20

                        // 替换年份
                        fmt = fmt.replace(RegExp.$1,res);// YYYY/MM/DD->2020/MM/DD
                    }

                    // 替换月、日
                    for(var key in o){
                        // 利用key创建正则表达式
                        var reg = new RegExp('(' + key + ')'); // new RegExp('(M+)') /(M+)/

                        // fmt='2020/MM/DD'
                        if(reg.test(fmt)){
                            // 得到匹配字符对应的时间
                            // var res= 'MM'.length>1 ? '0012'.substr('12'.length) : 12
                            var res = RegExp.$1.length>1 ? ('00' + o[key]).substr(String(o[key]).length) : o[key];


                            fmt = fmt.replace(RegExp.$1,res); // fmt='2020/MM/DD'->2020/12/DD
                        }
                    }
                    return fmt;
                }
            },

            // 局部过滤器
            // fliters:{
            //     [name]:function(){}
            // }
        })
    </script>
</body>

</html>